#Ignore unnecessary docker structures
etc/mysql/*
sync/

#Exclude things included by composer
src/web/themes/contrib/
src/web/core/
src/web/libraries/
src/vendor/

#Exclude core files, controlled by drupal-scaffold
src/web/.ht.router.php
src/web/autoload.php
src/web/example.gitignore
src/web/index.php
src/web/INSTALL.txt
src/web/README.txt
src/web/update.php
src/web/web.config
src/web/sites/example.*.php




# Exclude drupal site-specific stuff
src/web/sites/*/settings*.php
src/web/sites/*/files


